<header class="lol-header">
    <div class="header-container">
        
        <div class="logo-box">
            <a href="#" class="logo-link">
                <span class="logo-main">LEAGUE</span>
                <span class="logo-sub">OF</span>
                <span class="logo-main">LEGENDS</span>
            </a>
        </div>
        
        <nav class="nav-box">
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link active">Inicio</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Campeones</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Notas del Parche</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Esports</a></li>
            </ul>
        </nav>
        
        <div class="actions-box">
            <a href="#" class="btn-play">JUGAR AHORA</a>
        </div>
        
    </div>
</header>