<header class="app-header">
  <div class="logo-container">
    <span class="brand-name">League of Legends</span>
  </div>

  <nav class="nav-menu">
    <a href="/" class="nav-link active">Inicio</a>
    
    <a href="/filter/multipleroles" class="nav-link">Multirrol</a>
    
    <a href="#" class="nav-link">La comunidad</a>
    <a href="#" class="nav-link">Enlaces externos</a>
    <a href="/contact" class="nav-link">Contacto</a>
  </nav>

  <div class="actions">
    <button class="login-btn">Juega Ahora</button>
  </div>
</header>